// * {
//     primary: {{colors.primary.default.hex}};
//     primary-fixed: {{colors.primary_fixed.default.hex}};
//     primary-fixed-dim: {{colors.primary_fixed_dim.default.hex}};
//     on-primary: {{colors.on_primary.default.hex}};
//     on-primary-fixed: {{colors.on_primary_fixed.default.hex}};
//     on-primary-fixed-variant: {{colors.on_primary_fixed_variant.default.hex}};
//     primary-container: {{colors.primary_container.default.hex}};
//     on-primary-container: {{colors.on_primary_container.default.hex}};
//     secondary: {{colors.secondary.default.hex}};
//     secondary-fixed: {{colors.secondary_fixed.default.hex}};
//     secondary-fixed-dim: {{colors.secondary_fixed_dim.default.hex}};
//     on-secondary: {{colors.on_secondary.default.hex}};
//     on-secondary-fixed: {{colors.on_secondary_fixed.default.hex}};
//     on-secondary-fixed-variant: {{colors.on_secondary_fixed_variant.default.hex}};
//     secondary-container: {{colors.secondary_container.default.hex}};
//     on-secondary-container: {{colors.on_secondary_container.default.hex}};
//     tertiary: {{colors.tertiary.default.hex}};
//     tertiary-fixed: {{colors.tertiary_fixed.default.hex}};
//     tertiary-fixed-dim: {{colors.tertiary_fixed_dim.default.hex}};
//     on-tertiary: {{colors.on_tertiary.default.hex}};
//     on-tertiary-fixed: {{colors.on_tertiary_fixed.default.hex}};
//     on-tertiary-fixed-variant: {{colors.on_tertiary_fixed_variant.default.hex}};
//     tertiary-container: {{colors.tertiary_container.default.hex}};
//     on-tertiary-container: {{colors.on_tertiary_container.default.hex}};
//     error: {{colors.error.default.hex}};
//     on-error: {{colors.on_error.default.hex}};
//     error-container: {{colors.error_container.default.hex}};
//     on-error-container: {{colors.on_error_container.default.hex}};
//     surface: {{colors.surface.default.hex}};
//     on-surface: {{colors.on_surface.default.hex}};
//     on-surface-variant: {{colors.on_surface_variant.default.hex}};
//     outline: {{colors.outline.default.hex}};
//     outline-variant: {{colors.outline_variant.default.hex}};
//     shadow: {{colors.shadow.default.hex}};
//     scrim: {{colors.scrim.default.hex}};
//     inverse-surface: {{colors.inverse_surface.default.hex}};
//     inverse-on-surface: {{colors.inverse_on_surface.default.hex}};
//     inverse-primary: {{colors.inverse_primary.default.hex}};
//     surface-dim: {{colors.surface_dim.default.hex}};
//     surface-bright: {{colors.surface_bright.default.hex}};
//     surface-container-lowest: {{colors.surface_container_lowest.default.hex}};
//     surface-container-low: {{colors.surface_container_low.default.hex}};
//     surface-container: {{colors.surface_container.default.hex}};
//     surface-container-high: {{colors.surface_container_high.default.hex}};
//     surface-container-highest: {{colors.surface_container_highest.default.hex}};
// }

// $image = {{image}}

/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               " ";
	drun-display-format:        "{name}";
}

/*****----- Global Properties -----*****/
* {
    font:                        "Merienda 10";
       background:              {{colors.surface.default.hex}};
    background-alt:      {{colors.surface_dim.default.hex}};
    foreground:          {{colors.on_surface.default.hex}};
    selected:            {{colors.primary_fixed_dim.default.hex}}80;
    active:             {{colors.secondary.default.hex}};
    urgent:             {{colors.error.default.hex}};
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  true;
    width:                       1366px;
    height:                      768px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            black / 10%;
    cursor:                      "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     100px;
    margin:                      0px;
    padding:                     100px 225px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @selected;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {

    enabled:                     true;
    spacing:                     10px;
    margin:                      0% 25%;
    padding:                     18px;
    border:                      0px solid;
    border-radius:               10px;
    border-color:                @selected;
    background-color:            white / 5%;
    text-color:                  @foreground;
    children:                    [ "prompt", "entry" ];
}

prompt {
    font: "JetBrains Mono Nerd Font 10";
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            transparent;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     8;
    lines:                       4;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @selected;
    border-radius:               0px;
    background-color:            @background-alt;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     35px 10px;
    border:                      0px solid;
    border-radius:               15px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 vertical;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    background-color:            white / 5%;
    text-color:                  @foreground;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        72px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

/*****----- Message -----*****/
error-message {
    padding:                     100px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            black / 10%;
    text-color:                  @foreground;
}
textbox {
    background-color:            transparent;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
}
